
body{
    background-image: url(xyz.jpg);
    background-size: cover;
}
.Container{
    margin-top: 3%;
    margin-left: 60%;
    color: white;
    font-size: 25px;

}

.labelclass{
    margin-left: 30%;
    font-size: 30px;
}

.classtxt input{
    width: 90%;
    height: 10px;
    border-radius: 10px;
    padding: 10px;
  
}

.checkbox1 input{
    position: relative;

}

.btn{

    
    width: 15%;
    color: #ffffff;
    height: 37px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 70%;
    margin-top: 0%;
    background-color:  brown;
    position: relative;

}
#span1{
    color: blue;
    text-decoration-color: yellowgreen;
    
}
