
body{
    background-image: url(rss.jpg);
    background-size: cover;
}

.heading1{
    margin-top: 15%;
    margin-left: 30%;
    color: white;
}

.heading3{
    margin-left: 40%;
    color: white;
}

.button input{

    margin-left: 33%;
    width: 9%;
    padding: 10px 0;
    height: 38px;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(79, 18, 18);
    position: relative;
    text-align: center;
    color: white;
    

}